* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: $main-font;
    font-size: $main-font-size;

    background-color: $main-bg-color;

    margin: 0 0 50px 0; 
    border: 0;
}

.mainCon {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    padding: 20px;
}

.title {
    justify-self: center;
    align-items: center;
    padding: 100px;

        p {
            font-family: $main-font;
            font-weight: bold;
            font-size: 3rem;
            
        }
}

